header{
    display: flex;
    margin-left: 0vh;
    margin-top: 1vh;
    justify-content: space-between;
    text-align: center;


}

body {
    background: linear-gradient(to right,#574bcd,#17eAd9,#41e975);
    /* background-color: #60B347; */
    color: #fff

}


.minscore{
    color:#008248;
    border-color: antiquewhite;
    font-size: 10px;
}

.again{
    color: blue;
    border-color: #fff;
}
.range{
    color:#822350;
    border-color: #fff;

}

p {
    color: white;
    font-size: 25px;
}
.text {
   
    color: #822350;

}

.check{
    margin-bottom: 10px;
    border-color: #fff;
    color: royalblue;
}

.chance{
    color: orangered;
    font-weight: 900;
}

.highscore{
    color:purple;
    font-weight: 900;
}



.input {

    width: 100px;
    margin: 20px auto;
    padding: 25px;
    font-size: larger;
    font-weight: 900;
    box-sizing: inherit;
    border-color: #fff;

}
.number{
    color: black;
    padding: 30px;
    font-size: 30px;
    font-weight: 900;
    line-height: 15px;
    border-color: black;
}

.btn {

    margin: 5px auto auto 5px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    cursor: pointer;

}



.btn:hover {
    color: #008248;
    transition: 0.3s all ease;

}
main {
    text-align: center;
    
}

@media (max-width:500px) {
    .btn{
    padding: 5px;
    font-size: 16px;
    font-weight: bolder;
    }
    p {
        font-size: 18px;
    }
    
}
/* .btn{
    font-size: 30px;
    font-weight: bolder;
}

.label-score{
    font-size: 30px;
    font-weight: bolder;
}
.lebel-highscore{
    font-size: 30px;
    font-weight: bolder;
}

.guess{
    font-size: 20px;
} */

/* #container {

    height: 275px;
    border: 5px solid #F5E4C3;
    width: 750px;
    margin: auto;
    text-align: center;

} */

